* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(./assets/bg.jpg) no-repeat center center/cover ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    

}

.accordion .accordion-title {
    margin-bottom:  30px;
    text-align: center;
    color: #a36616;
}

.accordion .accordion-item .accordion-header {
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

.accordion .accordion-item .accordion-header::after {
    content: '+';
    position: absolute;
    right: -5px;
}

.accordion .accordion-item .accordion-content {
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;

    overflow: hidden;
    transition: .5s;
}

.accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-header {
    cursor: pointer;
    padding: 10px;
    font-family: 'roboto', arial, helvetica;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    color: #a36616;
    
  }

  .accordion .accordion-item .active .accordion-header::after {
    content: '-';
    font-size: 30px;
    transition: .5s;
}

  